
<div class="modal fade" id="category-modal" tabindex="-1" role="">
        <div class="modal-dialog modal-login" role="document">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                      
                    </div>
    
                    <div class="modal-body">
                        <form method="POST" action="/createCatagory" enctype="multipart/form-data">
                            <h3 class="description text-center">Create new category</h3>
                            <div class="card-body text-center">
                               
                            <div class="form-group label-floating">
                                <input type="text" name="title" class="form-control" placeholder="Catagory name" />
                            </div>

                            <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-info" style="width: 50%">Create catagory</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" style="width: 50%">Close</button>
                            </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>