<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <% include ../modals/auth/login %>
      <% include ../modals/auth/register %>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                ZOKI I KOBI PONOVO VOZE
            </a>

            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
         <ul class="nav navbar-nav navbar-right pull-right">

            <%if ( auth != undefined && auth.role === 'admin') { %>
            <li><a href="/admin/dashboard"><span class="glyphicon glyphicon-lock"></span> Admin panel</a></li>
            <% } %>


            <%if (auth == undefined ) { %>
            <li><a href="#" data-toggle="modal" data-target="#register-modal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <%} else { %>
            <li>
                <a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a>
            </li>
            <li>
                <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
            </li> 
            <% } %>

        </ul>
    </div>
</nav>