<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>CORE</title>
<script language="javascript" src="/jquery/jquery.min.js"></script>
<script language="javascript" src="/scripts/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/scripts/css/bootstrap.min.css"/>