<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>CORE</title>


<!--<script language="javascript" src="/jquery/jquery.min.js"></script>
<script language="javascript" src="/scripts/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/scripts/css/bootstrap.min.css"/> -->

 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

 <!--     Fonts and icons     -->
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

 <!-- Material Kit CSS -->
 <link rel="stylesheet" href="../MatirialCss/assets/css/material-kit.css">