
<div class="modal fade" id="login-modal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                  
                </div>

                <div class="modal-body">
                    <form method="POST" action="/login" enctype="multipart/form-data">
                        <h3 class="description text-center">Log in</h3>
                        <div class="card-body text-center">
                           
                        <div class="form-group label-floating">
                            <input type="email" name="email" class="form-control" placeholder="Email" />
                        </div>
                            
                        <div class="form-group label-floating">
                              <input type="password" name="password" class="form-control" placeholder="Password" />
                        </div>

                            <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-info" style="width: 50%">Login</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" style="width: 50%">Close</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>