<div class="modal fade" id="changePassword-modal">
        <div class="modal-dialog" role="document">
          <form method="POST" action="/changePassword">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Change password</h5>
              </div>

              <div class="modal-body">
                  <div class="form-group">
                    <label for="userPassword">New password</label>
                    <input type="password" name="newPassword" class="form-control" id="userPassword1" placeholder="Enter password">
                  </div>
              </div>

              <div class="modal-body">
                    <div class="form-group">
                      <label for="userPassword">Confirm password</label>
                      <input type="password" name="confirmPassword" class="form-control" id="userPassword2" placeholder="Enter password">
                    </div>
                </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Change password</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>