<% include ../layouts/top.ejs %>
<h1>About us</h1>

<h3>How to create admin</h3>
<p>Admin will be created when u click on the button in heder which says 'CREATE ADMIN'.
    His email and password for login will be by default 'admin' for both inputs. Only admin can add new products</p>
<h3>How to create common user</h3>
<p>You can find button 'Signup' on which click it will render form for creating new user.
</p>
<h3>After creating any type of user you must login with users email and passowrd.</h3>
<% include ../layouts/bottom.ejs %>

