<% include ../layouts/top.ejs %>

<div class="container">
        <div class="row"> 
        

                <% include ../layouts/printProducts.ejs %>
         

                <% include ../layouts/sideBar %>
            
    </div>

        
</div>
    

<% include ../layouts/bottom.ejs %>

