<% include ../layouts/top.ejs %>

<div class="container">
    <div class="contain">
        <div class="main">
                <h1>Main</h1>
            </div>
            
            <div class="sideBar"> <h4>Sidebar</h4> </div>
            
    </div>
    <!-- <h1>Langing page</h1> -->

        
</div>
    

<% include ../layouts/bottom.ejs %>

