<% include ../layouts/top %>
<% include ../modals/changeProfileInfo/changePassword %>
<% include ../modals/changeProfileInfo/changeProfileEmail %>

<div class="profileDiv">
    <p>Email: <%= auth.email %></p>
    <a href="#" data-toggle="modal" data-target="#changeEmail-modal">
            <span class="glyphicon glyphicon-pencil"></span> Change email
    </a>

    <a href="#" data-toggle="modal" data-target="#changePassword-modal"><span class="glyphicon glyphicon-pencil"></span> Change password</a>
</div>
<div>
</div>
<% include ../layouts/bottom %>